<html>
    <head>
        <meta charset="UTF-8">
        <title>淘宝网 - 淘！我凑</title>
        <link rel="stylesheet" type="text/css" href="css1.css">
    </head>
    <body>
    
    <div class="demo">
        <div class="content">
            <ul class="zuobaiolan">
                <li class="biaolan1"><a href="#">中国大陆</a></li>
                <li class="biaolan2"><a href="#">mr倒霉熊</a></li>
                <li class="biaolan3"><a href="#">消息    </a></li>
                <li class="biaolan4"><a href="#">手机淘宝</a></li>
            </ul>
            <ul class="content1">
                <li class="biaolan1"><a href="#">我的淘宝    </a></li>
                <li class="biaolan2"><a href="#">购物车      </a></li>
                <li class="biaolan3"><a href="#">收藏夹      </a></li>
                <li class="biaolan4"><a href="#">商品分类    </a></li>
                <li class="biaolan8">   |       </li>
                <li class="biaolan5"><a href="#">千牛卖家中心</a></li>
                <li class="biaolan6"><a href="#">联系客服    </a></li>
                <li class="biaolan7"><a href="#">网站导航    </a></li>
            </ul>
        </div>
                
   </div>
    <div class="demo1">
        <div class="content1">
            <div class="top1">
                <div class="zhongjian">
            
                    <div class="tupian">
                        <div class="top2">
                            <a href="#"><img src="TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png" alt="淘宝网"  class="taobao"></a>
                        </div>
                    </div>
                </div>
                <div class="zhongjiansousuo">
                    <img src="二维码.png" alt="" class="erweima">
                    <div class="search-wrap">
                        <div class="search-bd">
                            <div class="searchtab">
                                    <ul class="nav">
                                        <li>宝贝</li>
                                        <li>天猫</li>
                                        <li>店铺</li>
                                    </ul>
                            </div>
                            <div class="search-hp">
                                <form action="//s.taobao.com/search" class="_top">
                                    <div class="search-button">
                                        <button class="btn-search">
                                        搜索
                                        </button>
                                    </div>
                                    <div class="search-panel">
                                        <div class="search-combobox">
                                            
                                            <div class="search-combobox-input">
                                                <img src="照相机.png" alt="" class="zhaoxiangji">   
                                                <input type="text" label="输入文字">
                                                <img src="放大镜.png" alt="" class="fangdajing">
                                            </div>
                                        </div>
                                    
                                    
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="search-ft">
                            <div class="search-hots">
                            <a href="#" class="a">洗发水     </a>
                            <a href="#" class="b">面膜       </a>
                            <a href="#" class="c">时尚连衣裙 </a>
                            <a href="#" class="d">衬衫       </a>
                            <a href="#" class="e">男士T恤    </a>
                            <a href="#" class="f">风扇       </a>
                            <a href="https://www.baidu.com/" class="g">傻吊       </a>
                            <a href="#" class="h">沙发       </a>
                            <a href="#" class="i">定制内裤   </a>
                            <a href="#" class="j">办公桌     </a>
                            <a href="#" class="k">吊灯       </a>
                            <a href="#" class="l">茶叶       </a>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    <div class="demo5">
    <div class="demo2">
        <div class="nav_clearfix">
            <ul class="nav_hb0" >
                <li>主题市场</li>
                
            </ul>
            <ul class="nav_hb1">
                <li>天猫</li>
                <li>聚划算</li>
                <li>天猫超市</li>
                <li>丨</li>
                
            </ul>
            <ul class="nav_hb2">
                <li>淘抢购</li>
                <li>电器城</li>
                <li>司法拍卖</li>
                <li>淘宝心选</li>
                <li>兴农扶贫</li>
                 <li>丨</li>
            </ul>
            <ul class="nav_hb3">
                
               
                <li>飞猪旅行</li>
                <li>智能生活</li>
                <li>苏宁易购</li>
                <li></li>
            </ul>
        </div>
    </div>
    </div>
    <div class="demo4">
    <div class="demo3">
        <div class="main1">
            <div class="main-inner1">
                <div class="shulan1">
                    <div class="shulan1">
                        <div class="666">
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist=">女装</a>/
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist=">男装</a>/
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist=">内衣</a>
                        </div>
                        <div class="666">
                        <a href="#">鞋靴</a>/
                        <a href="#">箱包</a>/
                        <a href="#">配件</a>
                        </div>
                        <div class="666">
                        <a href="#">童装玩具</a>/
                        <a href="#">孕产</a>/
                        <a href="#">用品</a>
                        </div>
                        <div class="666">
                        <a href="#">家电</a>/
                        <a href="#">数码</a>/
                        <a href="#">手机</a>
                        </div>
                        <div class="666">
                        <a href="#">美妆</a>/
                        <a href="#">洗护</a>/
                        <a href="#">保健品</a>
                        </div>
                        <div class="666">
                        <a href="#">珠宝</a>/
                        <a href="#">眼镜</a>/
                        <a href="#">手表</a>
                        </div>
                        <div class="666">
                        <a href="#">运动</a>/
                        <a href="#">户外</a>/
                        <a href="#">乐器</a>
                        </div>
                        <div class="666">
                        <a href="#">游戏</a>/
                        <a href="#">动漫</a>/
                        <a href="#">影视</a>
                        </div>
                        <div class="666">
                        <a href="#">美食</a>/
                        <a href="#">生鲜</a>/
                        <a href="#">零食</a>
                        </div>
                        <div class="666">
                        <a href="#">宠物</a>/
                        <a href="#">鲜花</a>/
                        <a href="#">农资</a>
                        </div>
                        <div class="666">
                        <a href="#">工具</a>/
                        <a href="#">装修</a>/
                        <a href="#">建材</a>
                        </div>
                        <div class="666">
                        <a href="#">家具</a>/
                        <a href="#">驾驶</a>/
                        <a href="#">家纺</a>
                        </div>
                        <div class="666">
                        <a href="#">汽车</a>/
                        <a href="#">二手车</a>/
                        <a href="#">用品</a>
                        </div>
                        <div class="666">
                        <a href="#">办公</a>/
                        <a href="#">DIY</a>/
                        <a href="#">五金电子</a>
                        </div>
                        <div class="666">
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist=">百货</a>/
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist=">餐厨</a>/
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist=">家庭保健</a>
                        </div>
                        <div class="666">
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=5&spn=0&di=73770862440&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3201985137%2C564568473&os=2366311984%2C581897075&simid=3138749329%2C3780614966&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fimg.kutoo8.com%2Fupload%2Fimage%2F92246689%2F31698-ElPlsj_960x540.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bh7p55b_z%26e3Bv54AzdH3FrvAzdH3F8na0c_z%26e3Bip4s&gsm=0&islist=&querylist=">学习</a>/
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=5&spn=0&di=73770862440&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3201985137%2C564568473&os=2366311984%2C581897075&simid=3138749329%2C3780614966&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fimg.kutoo8.com%2Fupload%2Fimage%2F92246689%2F31698-ElPlsj_960x540.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bh7p55b_z%26e3Bv54AzdH3FrvAzdH3F8na0c_z%26e3Bip4s&gsm=0&islist=&querylist=">卡卷</a>/
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=5&spn=0&di=73770862440&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3201985137%2C564568473&os=2366311984%2C581897075&simid=3138749329%2C3780614966&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fimg.kutoo8.com%2Fupload%2Fimage%2F92246689%2F31698-ElPlsj_960x540.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bh7p55b_z%26e3Bv54AzdH3FrvAzdH3F8na0c_z%26e3Bip4s&gsm=0&islist=&querylist=">本地服务</a>
                        </div>
                        
                        
                    </div>
                    <div class="shulan2">
                        <img src="小箭头.png" alt="" class="iaojiantou">
                    </div>
                </div>
                <div class="shulan2">
                    <div class="tbh-promo">
                        <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist="><img src="广告1.png" alt="" class="guanggao1"></a>
                    </div>
                    <div class="tbh-tmall">
                        <div class="tmall-hd">
                            <div class="tianmao1">
                                
                                <img src="天猫.png" alt="" class="tianmao">
                                <em>理想生活上天猫</em>
                                <a href="#" class="a2">/6</a>
                                <a href="#" class="a1">1</a>
                                
                            </div>
                        </div>
                        <div class="tmall-bd">
                            <a href="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=false&word=%E7%BE%8E%E5%A5%B3&hs=2&pn=4&spn=0&di=153562680040&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=3327849645%2C2696105688&os=796898700%2C3901962520&simid=3164654016%2C3857277737&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=girl&bdtype=0&oriquery=%E7%BE%8E%E5%A5%B3&objurl=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F4e%2Ffb%2F0d%2F4efb0d0632aa10850dc9707e095e415f.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bjgpj61jfh_z%26e3Bv54AzdH3F15ogs5w1AzdH3F80aa0-89mb08AzdH3F&gsm=0&islist=&querylist="><img src="小广告.png" alt="" class="xiaogauanggao"></a>
                        </div>
                    </div>
                </div>
                <div class="shulan3">
                    <div class="tbh-focus">
                        <a href="#"><img src="右广告.png" alt="" class="youguanggao"></a>
                    </div>
                    <div class="hb-tanx">
                        <div class="tanx-hb">
                            <h5>今日热卖</h5>
                        </div>
                        <div class="tanx-bb">
                            <a href="#"><img src="衣服.png" alt="" class="yifu"></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="main-inner2">
                <div class="dilan">
                    <div class="headline1">
                        <a href="#"><img src="头条.png" alt="" class="toutiao"></a>
                    </div>
                    <a href="#">更多></a>
                    <div class="headline2">
                        <div class="hedline-hd">
                            <a href="#"><img src="万圣节.png" alt="" class="wanshengjie"></a>
                        </div>
                        <div class="hedline-bd">
                            <a href="#">
                                <h4>万圣节去哪玩？良阅二次元游园会等你来！</h4>
                                <p>哈喽，大家好，我是你们的微漫酱！万圣节快要到了，在此推荐给大家一个好玩的二次元线下活动，一起来了解一下把！</p>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="main2">
            <div class="main-inner3">
                <div class="member">
                    <div class="member-hd">
                        <div class="member-wrapper">
                            <a href="#"><img src="头像.png" alt="" class="touxiang"></a>
                        </div>
                        <span class="member-nick">
                           Hi!
                            <strong>mr倒霉熊</strong>
                        </span>
                        <p class="member-tjb">
                            <a href="#" class="h">
                                <span class="thb-icon">
                                </span>领淘金币抵钱
                            </a>
                            <a href="#" class="b">
                                <span class="thb-icon1">
                                </span>会员俱乐部
                            </a>
                        </p>
                    </div>
                    <div class="member-bd">
                        <div class="memeber-login">
                            <div class="member-colum">
                                <a href="#" class="b1">
                                    <strong>1</strong>待收货
                                </a>
                                <a href="#" class="b2">
                                    <strong>0</strong>待发货
                                </a>
                                <a href="#" class="b3">
                                    <strong>1</strong>待付款
                                </a>
                                <a href="#" class="b4">
                                    <strong>1</strong>待评价
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-inner4">
                <a>网上有害信息举报专区
                <span></span>
                </a>
                
            </div>
            <div class="main-inner5">
                <ul class="notice-hd">
                    <li><a href="#">公告</a></li>
                    <li><a href="#">规则</a></li>
                    <li><a href="#">论坛</a></li>
                    <li><a href="#">安全</a></li>
                    <li><a href="#">公益</a></li>
                </ul>
                <div class="notice-bd">
                    <ul class="mod-fist">
                        <li><a href="#">新增《淘宝网抽检标准（商用厨房电器）》公示通知</a></li>
                        <li><a href="#">《淘宝禁售商品管理规范》关于证券咨询类商品规则解读变更公示通知</a></li>
                        <li><a href="#">新增《淘宝网大家电行业管理规范》公示通知</a></li>
                        <li><a href="#">《淘宝直播平台管理规则》变更公示通知</a></li>
                    </ul>   
                </div>
            </div>
            <div class="main-inner6">
                 <a href="#"><img src="tubiao.png" alt="" class="tubiao"></a>
            </div>
            <div class="main-inner7">
               <a href="#"><img src="haoduo.png" alt="" class="haoduo"></a>
            </div>
        </div>
    </div>
    </div>
    
    
    
    </body>
</html>